body {
  max-width: 1310px;
  font-family: 'Delius', cursive;
  background-color: #f4f5f6;
  margin: 0 auto;
}

main,
footer {
  background-color: white;
}

h3 {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.3
}

h3>a,
h4>a {
  color: black;
}

h3>a:hover,
h3>a:active,
h4>a:hover,
h4>a:active {
  color: black;
  text-decoration: none;
  border-bottom: 2px solid #f72210
}

.card-link-custom:hover,
.card-link-custom:active {
  color: #f72210;
  border: none
}

h4 {
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.2
}

.card-text-custom-bold {
  color: #555;
  font-weight: 700;
  line-height: 1.2;
}

.capitalize {
  text-transform: uppercase;
  color: rgba(3, 3, 3, 0.4)
}

.container-header {
  display: flex;
  justify-content: center;
}

.container-header>* {
  align-self: center;
  margin: 0;
}

.newsweek-icon {
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat #f72210;
  width: 29px;
  height: 28px;
  margin-right: 10px;
}

.badge-relative {
  position: relative;
}

.badge-text {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, .9);
  color: #f72210;
  padding: 5px 1rem;
  font-weight: bold;
}

.badge-text--icon {
  background: url(https://g.newsweek.com/themes/newsweek/images/icon-slideshows-nw.png);
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #f72210;
  font-weight: bold;
  background-size: contain;
  background-repeat: no-repeat;
  width: 4rem;
  height: 3rem;
}

.section-header {
  color: #f72210;
  text-decoration: none;
}

.section-header a {
  color: #f72210;
  font-size: 1.5rem;
  text-decoration: none;
}

.header-top {
  background-color: #f72210;
}

.header-top img {
  width: 30%;
}

.btn-custom {
  background-color: #f72210;
}

.card-img-nv {
  height: 100%;
}

.img-thumb-height {
  height: 275px;
}

.card-img-custom {
  width: 63px;
  height: 63px;
}

.header-custom a {
  text-transform: uppercase;
  color: #f72210 !important;
}

.header-custom>span {
  background-color: #f72210;
  color: white;
}

nav {
  border-bottom: 1px solid #d3d4d4;
}

.header-bottom__nav {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.header-bottom__text,
.header-bottom__text:link {
  color: black;
  text-decoration: none;
  padding-right: 2rem;
  margin-right: 1rem;
  border-right: 1px solid #d3d4d4;
}

.header-bottom__text:hover {
  color: #f72210;
}

.header-bottom__search {
  width: 5rem;
  border: none;
  font-size: 1.2rem;
}

.nw-search span {
  margin-left: -1rem;
}

.footer__header img {
  width: 15rem;
}
